* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    height: 100vh;  
    font-size: 12px; 
}

@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: rgb(207, 204, 204, 0.5);
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    color: seashell;
}

.menu li {
    list-style: none;
    font-size: 20px;
}

.menu a {
   display: block;
   padding: 10px 20px;
}

a {
    color: seashell;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.first-title {
    color: #00E5EE;
    font-family: 'Orbitron', sans-serif;
    font-size: 55px;
    text-align: center;
}

.second-title {
    color: rgb(206, 240, 241);
    font-family: 'Jost', sans-serif;
    text-align: center;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #CCC, transparent);
    padding: 5px;  
    margin-bottom: 35px;
  }

  .sobre {
      padding: 2em;
      height: 100vh;
  }

.img-sobre {
    width: 240px;
    height: 180px;
    object-fit: cover;
    object-position: right bottom;
    border-radius: 6%;
}

.sobre h2 {
    display: flex;
    justify-content: center;
    color: seashell;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 1.8em;
}

.sobre .grid {
    display: grid;
    gap: 1em;
}

@media (min-width: 560px){
    .sobre .grid {
        grid-template-columns: repeat(2, 240px);
        justify-content: center;
    }
}

@media (min-width: 880px){
    .sobre .grid {
        grid-template-columns: repeat(3, 240px);
        justify-content: center;
        height: calc(100vh - 8em - 48px);
    }
}

.sobre figure {
    text-align: center;
}

figcaption {
    color: seashell;
}