* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/background.jpg');
    background-size: auto 100vh;
    font-family:'Cormorant Garamond', serif;
    height: 100vh;  
    font-size: 12px; 
}

@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: rgb(207, 204, 204, 0.5);
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    color: seashell;
}

.menu li {
    list-style: none;
    font-size: 20px;
}

.menu a {
   display: block;
   padding: 10px 20px;
}

a {
    color: seashell;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.first-title,
.second-title {
    color: seashell;
    text-align: center;
}

.first-title {
    font-size: 4em;
}

.second-title {
    font-style: italic;
}

.img-portfolio {
    width: 200px;
    height: 180px;
}

section h2 {
    display: flex;
    justify-content: center;
    color: seashell;
    font-style: italic;
}

figcaption {
    color: seashell;
}